In [ ]:
'''
Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.

Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180

The output of the program should be:
18,22,24

'''

In [7]:
import math

In [8]:
C=50 
H=30

In [14]:
s = input('Enter input ')
l= s.split(sep=',')
a = []

Enter input 100,150,180

In [15]:
for i in range(len(l)):
  D = int(l[i])
  Q = math.sqrt((2 * C * D)/H)
  r= int(Q)
  a.append(r)

In [16]:
a

[18, 22, 24]

In [ ]:
'''
Question 2:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. 
The element value in the i-th row and j-th column of the array should be i*j.

Note: i=0,1.., X-1; j=0,1,Â¡Y-1.

Example

Suppose the following inputs are given to the program:

3,5

Then, the output of the program should be:

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] 
'''

In [53]:
s = input('Enter Row,Column')
l=s.split(',')
l

Enter Row,Column3,5

['3', '5']

In [54]:
r=int(l[0])
c=int(l[1])

In [104]:
arr=[]
for i in range(r):
    col=[]
    for j in range(c):
      col.append(0)
    arr.append(col)

In [105]:
arr

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [110]:
for i in range(r): 
  for j in range(c):
    arr[i][j]=i*j

In [111]:
arr

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
'''
Write a program that accepts a comma separated sequence of words as input and 
prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

without,hello,bag,world

Then, the output should be:

bag,hello,without,world

'''

In [112]:
s = input('Enter ')
l = s.split(',')
l.sort()

Enter without,hello,bag,world

In [113]:
l

['bag', 'hello', 'without', 'world']

In [115]:
for i in range(len(l)):
  print(l[i],end=',')

bag,hello,without,world,

In [ ]:
'''
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

Suppose the following input is supplied to the program:

hello world and practice makes perfect and hello world again

Then, the output should be:

again and hello makes perfect practice world

'''

In [122]:
s = input('Enter ')
l = s.split(' ')
z=set(l)

Enter hello world and practice makes perfect and hello world again

In [124]:
z

{'again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world'}

In [125]:
z=list(z)

In [126]:
z.sort()

In [127]:
for i in z:
  print(i,end=' ')

again and hello makes perfect practice world

In [ ]:
'''
Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3


'''

In [128]:
s = input('Enter ')

Enter hello world! 123

In [129]:
di=0
le=0
for i in range(len(s)):
  if s[i].isdigit() == True:
    di+=1
  if s[i].isalpha() == True:
    le+=1

In [130]:
print('Digit',di)
print('Letter',le)

Digit 3
Letter 10

In [ ]:
'''
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.

Following are the criteria for checking the password:

1. At least 1 letter between [a-z]

2. At least 1 number between [0-9]

1. At least 1 letter between [A-Z]

3. At least 1 character from [$#@]

4. Minimum length of transaction password: 6


'''

In [136]:
s = input('Enter password ')
l=s.split(',')
f=[]
for j in l:
  sma = 0
  cap = 0
  digi= 0
  sp = ['$','#','@']
  spe= 0
  for i in j:
    if i.isdigit():
      digi+=1
    elif i.islower():
      sma+=1
    elif i.isupper():
      cap+=1
    elif i in sp:
      spe+=1

  if sma > 0 and cap > 0 and digi > 0 and spe > 0 and len(j)>=6 and len(j)<=12 :
    f.append(j)

Enter password ABd1234@1,a F1#,2w3E*,2We3345

In [137]:
f

['ABd1234@1']