In [15]:
#1.Write a Python program to Extract Unique values dictionary values?

d = {1:'a',2:'b',3:'c',4:'d',5:'e',6:'a',7:'b'}
a=[]
for i in d:
  k = d[i]
  c=0
  for j in d:
    if d[j]==k:
      c+=1
  if c==1:
    a.append(k)

In [17]:
print('unique values',a)

unique values ['c', 'd', 'e']

In [18]:
#2.Write a Python program to find the sum of all items in a dictionary?

d = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6}
sum=0
for i in d:
  sum+=d[i]
print('sum:',sum)

sum: 21

In [20]:
#3.Write a Python program to Merging two Dictionaries?

d = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6}
d1 = {'g':3,'h':9,'c':4}

for i in d1:
  d[i]=d1[i]

In [23]:
print('Merge ',d)

Merge  {'a': 1, 'b': 2, 'c': 4, 'd': 4, 'e': 5, 'f': 6, 'g': 3, 'h': 9}

In [30]:
#4.Write a Python program to convert key-values list to flat dictionary?


d = {'key': [1, 2, 3, 4, 5, 6], 'value': ['Jan', 'Feb', 'March', 'Apr', 'May', 'June']}
d1= {}
for i in range(len(d['key'])):
  d1[d['key'][i]]=d['value'][i]

In [31]:
d1

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'Apr', 5: 'May', 6: 'June'}

In [ ]:
#5.Write a Python program to insertion at the beginning in OrderedDict?

In [58]:
from collections import OrderedDict as od

In [61]:
d1 = od([('a',1),('b',2),('c',3)])

In [62]:
d1.update({'d':4})

In [67]:
d1.move_to_end('d',last= False)

In [68]:
d1

OrderedDict([('d', 4), ('a', 1), ('b', 2), ('c', 3)])

In [119]:
#6.Write a Python program to check order of character in string using OrderedDict()?
from collections import OrderedDict 
  
k = 'asqzxvwg'
p = 'asvg'

d = OrderedDict.fromkeys(k)
f=0
for i in d.keys():
  if i == p[f]:
    f+=1
if f == len(p):
  print('yes')
else:
  print('no')

yes

In [ ]:
#7.Write a Python program to sort Python Dictionaries by Key or Value?
#sort by key

In [78]:
d = {'a':1,'c':3,'e':5,'f':6,'b':2,'d':4,}
l=list(d.keys())
d1 = {}

In [79]:
l.sort()

In [81]:
for i in l:
  d1[i]=d[i]

In [82]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}